@font-face {
    font-family: 'Flowmery';
    src: url('/fonts/Flowmery.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;